<div class="card rounded-lg shadow-md mt-3 cursor-pointer">
    <img src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-22625863/original/ca6a5c34-ddd5-4d10-a1c2-ddd7a7bab96b.jpeg?im_w=720"
        alt="Hotel room" class="w-full h-100 rounded-xl">
    <div class="p-4 flex flex-col gap-1">
        <span class="text-sm font-bold">Burj Khalifa View</span>
        <span class="text-xs">6 kilometers away</span>
        <span class="text-xs ">Dec 21 - 26</span>
        <span class="text-xs">AED <span class="font-bold">1,054</span> /night</span>
    </div>
</div>